extends layout

block content
   h1 Nahil Ahmed's API Project
   h2 URL Shortener
   p.red Example Creation Usage:
   code localhost:3000/new/www.facebook.com
   br
   p.red Output:
   code {"longurl":"www.facebook.com","shorturl":"localhost:3000/15204361561"}
   br
   p.red Usage:
   code localhost:3000/15204361561
   br
   p.red Will redirect you to:
   code https://www.facebook.com
